* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding: 100px; */
    /* width: 100%; */
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}


.container {
    /* height: 40em; */
    border: 2px black solid;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    padding: 2px 2px;
    box-shadow: 6px 4px 10px black;

}


.output-area {
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px 20px;
    background-color: rgb(118, 162, 148);
    
    display: flex;
    align-items: flex-end;
    justify-content: end;
    
    height: 10em;
}

.input-area {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;

}


.row {
    display: flex;
    padding: 1em;
}

button{
    height: 5em;
    flex-grow: 1;
    width: 20%;
    margin: 1em;
    color: white;
    box-shadow: 2px 2px  rgb(22, 66, 26);
    background-color: rgb(80, 121, 90);
    padding: 2px 14px;
}